---
import PageLayout from "@layouts/PageLayout.astro";
import LandingPageLayout from "@layouts/LandingPageLayout.astro";

---
<LandingPageLayout>
  <main>
    <h1>Welcome to my website!</h1>

  </main>
</LandingPageLayout>
