---
import PageLayout from "@layouts/PageLayout.astro";
import LandingPageLayout from "@layouts/LandingPageLayout.astro";
import SwiperHero from "@components/SwiperHero/SwiperHero.jsx"
---
<LandingPageLayout>
  <main>
    <h1>Welcome to my website!</h1>

  </main>
</LandingPageLayout>
