---
import PageLayout from "@layouts/PageLayout.astro";
import LandingPageLayout from "@layouts/LandingPageLayout.astro";
import SwiperHero from "@components/SwiperHero/SwiperHero.jsx";
import SwiperHero1 from "@components/SwiperHero/SwiperHero.astro";
---

<LandingPageLayout>
  <SwiperHero1 />
  <main>
    <style>
      h1 {
        color: red;
      }
      body,
      div,
      p {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
      }

      .go {
        width: 25px;
        stroke: #636363;
        stroke-width: 3;
        stroke-linecap: round;
        stroke-linejoin: round;
        fill: none;
        z-index: 12;
      }
      .go-prev,
      .go-next {
        position: absolute;
        cursor: pointer;
        top: 50%;
        left: 5px;
      }
      .go-next {
        left: calc(100% - 32px);
      }
      h1 {
        position: absolute;
        top: 50%;
        width: 100%;
        font-weight: 800;
        font-size: 36px;
        margin: 0;
      }
      nav {
        position: absolute;
        bottom: 10px;
        left: 50%;
        width: inherit;
        z-index: 100;
        visibility: hidden;
      }
      .navDot {
        position: relative;
        width: 15px;
        height: 15px;
        background-color: black;
        opacity: 0.5;
        border-radius: 50%;
        border: 1px solid transparent;
        margin-right: 20px;
        float: left;
        cursor: pointer;
      }
      .navDot:last-of-type {
        margin-right: 0px;
      }
      .navDot:hover {
        background-color: green;
        border: 1px solid black;
      }

      .slides-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        z-index: 10;
      }

      .slide {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        height: 100%;
        text-align: center;
        background-color: grey;
        overflow: hidden;
      }

      #slide02 .wrap {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        text-align: center;
        height: 100px;
        overflow: hidden;
      }
      #slide02 h1 {
      }
      .apple01 {
        position: absolute;
        top: 56%;
        left: 40%;
        width: 160vh;
      }
      .apple02 {
        position: absolute;
        top: 58%;
        left: 58%;
        width: 160vh;
      }
    </style>
    <div>
      <h1>This header will be red!</h1>
      <h1>Welcome to my website!</h1>
    </div>

    <nav class="centered"></nav>

    <svg class="go go-next" width="32" height="55" viewBox="0 0 40 55">
      <polyline points="3 3 30 28 3 53"></polyline>
    </svg>

    <svg class="go go-prev" viewBox="0 0 40 55">
      <polyline points="28 3 3 28 28 53"></polyline>
    </svg>

    <div class="slides-container">
      <div class="slide active" id="slide01">
        <h1 class="lines">
          An APPLE per day<br />
          keeps the code clean!
        </h1>
      </div>

      <div class="slide" id="slide02">
        <img
          class="apple apple01 centered"
          src="/images/carousel/carousel.webp"
          alt=""
        />
        <img
          class="apple apple02 centered"
          src="/images/carousel/carousel2.webp"
          alt=""
        />

        <div class="wrap centered">
          <h1 class="lines">
            Two APPLES per day ...<br />
            you become a MASTER!
          </h1>
        </div>
      </div>

      <div class="slide" id="slide03">
        <h1 class="lines">And you'll get <span>GREEN</span> socks</h1>
        for faster CODING!
      </div>
    </div>

    <div class="slide" id="slide04">
      <h1 class="lines">Join the GREENSOCK Club.</h1>
    </div>
  </main>
</LandingPageLayout>
